.claim-review-item-container {
  margin: 20px auto;
  
  .claim-review-item-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
  }
  .submit-button{
    display:none;
  }
  
}

