.claim-container {
  // margin: 10px 0 0 20px;

  @media screen and (max-width: 450px) {
    flex-wrap: wrap;
    margin: 5px 0 0 5px;

    .claim-trending-counter {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
    }
  }

  .link {
    color: inherit;
    &:hover {
      opacity: 0.9;
      transition: 0.2s;
    }
  }
  .claim-content {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    .claim-text {
      padding: 0 10px 3px 0;
    }
  }
}
